{% include 'navbar.html' %}
<!DOCTYPE html>
 {% load staticfiles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
<body style="background-color:#9CB2F3">

<html lang="en">
  <head>
    <meta charset="utf-4">
    <title>{% block title %}Movie Rating{% endblock %}</title>
  </head>
      {% if user.is_authenticated %}
      {% else %}
        <a href="{% url 'login' %}"></a><a href="{% url 'Signup' %}"></a>
      {% endif %}
  <body>
    <header>
      <center>
        <br>
        <br>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>